[submodule "plugins/tmux-gitbar"]
	path = plugins/tmux-gitbar
    url = https://github.com/aurelien-rainone/tmux-gitbar.git
[submodule "plugins/tpm"]
	path = plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "plugins/tmux-colors-solarized"]
	path = plugins/tmux-colors-solarized
	url = https://github.com/tmux-plugins/tmux-colors-solarized.git
[submodule "plugins/tmux-sensible"]
	path = plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
